In [3]:
import pandas as pd
import numpy as np
import mammoth

В шматку коду нижче нам потрібно отримати список файлів або список docx файлів, які ми хочемо розпарсити

In [4]:
names = ! ls docs

In [3]:
def convert_and_get(name):
    f = open(name, 'rb')
    t_converted = mammoth.convert_to_html(f)
    
    table = pd.read_html(t_converted.value)[0]
    
    table = table.rename(columns=table.iloc[0])
    table = table.rename({"Назва області": "Назва регіону"}, axis=1)
    table = table.drop(0, axis=0).reset_index(drop=True)
    table['filename'] = name
    
    
    return table.reset_index(drop=True)

"docs" це назва папки, яка лежить в тій же папці, що і цей скрипт, а у ній знаходяться docx файли

In [4]:
all_tables = pd.concat([convert_and_get("docs/"+d) for d in names])
all_tables = all_tables.reset_index(drop=True)

In [5]:
all_tables['Назва регіону'] = all_tables['Назва регіону'].str.replace("область", "").replace(" область", "")

In [6]:
#to get two lists

def get_two_lists(string):
    first = string.split(" ")[0]
    if ("жіноч" in first):
        female, male =  string.split("чоловічі")
    else:
        male, female =  string.split("жіночі")
    return [male, female]
rare_names = all_tables['Рідковживані імена'].apply(lambda x: get_two_lists(x))
rare_names.tolist()

#to get two columns of female and male

female_names = [ el[1] for el in rare_names]
male_names = [ el[0] for el in rare_names]

In [7]:
#to add it to general data set
female_series = pd.Series(female_names) 
male_series = pd.Series(male_names) 
all_tables["female_rare"] = female_series
all_tables["male_rare"] = male_series
del all_tables["Рідковживані імена"] 
del all_tables["Найпоширеніші імена"] 
fifteen = all_tables.rename(columns = {'Назва регіону':'region'})

In [8]:
#take out the garbage from the columns 
fifteen['female_rare'] = fifteen['female_rare'].replace(['жіночі:','жіночі жіночі –', ': ',
                                                         'жіночі – ' ],'', regex=True)
fifteen['male_rare'] = fifteen['male_rare'].replace(['чоловічі:',':', ': ', 'чоловічі ',
                                                    ";чоловічі", "; чоловічі – ", "; – "],'', regex=True)

In [9]:
def reshape_df(group):
    region = group.region.tolist()[0]
    filename = group.filename.tolist()[0]
    names_all = []
    for name in group.female_rare.str.split(",").tolist()[0]:
        names_all.append({"region": region, "name": name, "sex": "female",
                        "filename": filename  
                         })
        
    for name in group.male_rare.str.split(",").tolist()[0]:
        names_all.append({"region": region, "name": name, "sex": "male",
                                                 "filename": filename  
                         })
        
    return names_all
            
    

reshaped_df = pd.DataFrame([dd for d in fifteen.groupby(["region",
                                                         "filename"]).apply(reshape_df).tolist() for dd in d])

def custom_pivot(group, all_regions):
    regions_used = list(group['region'].unique())
    
    general_dict = {d:1 if d in regions_used else 0 for d in all_regions}
    general_dict['name'] = group.name[0]
    general_dict['sex'] = group.sex.tolist()[0]
    general_dict['filename'] = group.filename.tolist()[0]
    
    return general_dict
    
    

# pd.DataFrame(reshaped_df.groupby(["name", "filename"]).apply(custom_pivot, reshaped_df.region.unique()).tolist())

In [10]:
reshaped_df['name'] = reshaped_df.name.str.replace(";", ""
                                                  ).str.replace(":", ""
                                                               ).str.replace(".", "").str.replace(",", "")
reshaped_df['name'] = reshaped_df.name.str.strip()

In [11]:
reshaped_df[reshaped_df['name'].str.contains("-|—")]

                 region            name     sex                   filename
589           Волинська      Мілан-Марк    male     docs/імена_2018_1.docx
735          Волинська      Санта-Марія  female     docs/імена_2020_2.docx
973          Вінницька         Мія-Тіна  female     docs/імена_2019_2.docx
977          Вінницька   Амадей-Богород    male     docs/імена_2019_2.docx
1119   Дніпропетровська     Адже-Регіна  female  docs/імена_2016_full.docx
...                 ...             ...     ...                        ...
12082     Чернігівська   Ангеліна-Айлін  female     docs/імена_2021_1.docx
12623           м. Київ  Квітка-Наталія  female  docs/імена_2017_full.docx
12685           м. Київ     Прохор-Джай    male  docs/імена_2017_full.docx
12779           м. Київ  Марія-Афродіта  female     docs/імена_2018_2.docx
12849           м. Київ    Квітка-Ярина  female     docs/імена_2019_1.docx

[236 rows x 4 columns]

In [12]:
reshaped_df[reshaped_df['name'].str[-1] == ')']

             region              name   sex                filename
6266  Миколаївська   Самуель (Самуіл)  male  docs/імена_2021_1.docx
6268  Миколаївська      Дамір (Демір)  male  docs/імена_2021_1.docx
6281  Миколаївська   Абдула (Абдулла)  male  docs/імена_2021_1.docx
6282  Миколаївська      Ренат (Рінат)  male  docs/імена_2021_1.docx

In [48]:
reshaped_df.loc[reshaped_df['name'].str[0].str.contains("–|-", na=False)
, "name"] = reshaped_df.loc[reshaped_df['name'].str[0].str.contains("–|-", na=False)
].name.apply(lambda x: x.replace("–", "").replace("-", "").strip())

In [49]:
reshaped_df['name'].str[0].value_counts()

А    1949
М    1288
Д     944
С     921
Л     885
Е     873
Р     741
К     564
В     562
Т     540
І     494
Н     490
Г     350
Є     348
О     334
Я     302
З     300
Б     233
Ф     207
П     205
Ю     117
Ж     109
У     101
Х      63
Й      57
Ш      40
Ц      29
Ч      10
ж       5
Ґ       3
И       1
л       1
Ї       1
Name: name, dtype: int64

In [52]:
reshaped_df.drop(['embds', 'embds_one_array'], axis=1).to_csv("names_cleaned.csv", index=False)